.toast {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 0 10px;
  min-width: 300px;
  margin: 10px auto;
  column-gap: 5px;
  justify-content: center;
  width: fit-content;
}

.green {
  background-color: lightgreen;
}

.red {
  background-color: lightcoral;
}

.blue {
  background-color: lightblue;
}

.toast-input {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 300px;
  margin: 10px auto;
  justify-content: center;
}

/* Transitions */

.slide-vertical-enter {
  opacity: 0;
  transform: translateY(40px);
}

.slide-vertical-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 300ms;
}

.slide-vertical-exit {
  opacity: 1;
  transform: translateY(0px);
}

.slide-vertical-exit-active {
  opacity: 0;
  transition: all 300ms;
  transform: translateY(40px);
}